{% extends 'base.html' %}

{% block  title %}登录{% endblock  %}

{% block body %}
    <div class="container align-items-center">
        {% if form.non_field_errors %}
            <div class="row">
                <div class="col-auto">
                    <h1>{{ form.non_field_errors }}</h1>
                </div>
            </div>
        {% endif %}
        <form action="{% url 'user:login' %}" method="post" 
            class="row needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-auto mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">用户名:</label>
                <input type="text" id="{{ form.username.id_for_label }}" 
                class="form-control" placeholder="请输入用户名" 
                aria-describedby="UsernameHelpBlock" 
                name="{{ form.username.name }}" required>
                <div class="valid-feedback">
                    用户名填写提示
                </div>
            </div>
            <div class="col-auto mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">密码:</label>
                <input type="password" id="{{ form.password.id_for_label }}" 
                class="form-control" placeholder="请输入密码" 
                aria-describedby="PasswordHelpBlock"
                name="{{ form.password.name }}" required>
                <div class="valid-feedback">
                    密码填写提示
                </div>
            </div>
            <div class="mb-3 form-check form-switch">
                <input type="checkbox" class="form-check-input" id="check1" value="" switch>
                <label for="check1" class="form-check-label">承诺书</label>
            </div>
            <div class="col-auto mb-3">
               <button type="submit" class="btn btn-outline-success" 
                    name="login" >登录</button>
            </div>
        </form>
    </div>
    

{% endblock %}