{% extends "base.html" %}

{% block title %}登录{% endblock title %}

{% block main %}
    <div class="container min-vh-100 d-flex justify-content-center flex-column align-items-center">
        <div class="w-100" style="max-width: 400px;">
            <!--错误提示区-->
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <!--表单区-->
            <form action="{% url 'client:login' %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success d-block mx-auto" type="submit">登录</button>
            </form>
        </div>
    </div>
{% endblock main %}